---
import { format } from 'date-fns';
import Ru from 'date-fns/locale/ru/index.js';

export interface Props {
  title: string;
  description: string;
  publishDate: Date;
  slug: string;
}

const { title, description, publishDate, slug } = Astro.props;


---

<article class="post-preview" transition:name={slug}>
	<header>
		<p class="publish-date">{format(publishDate, 'd MMM yyyy', { locale: Ru })}</p>
		<a href={`/blog/${slug}/`}><h2 class="title">{title}</h2></a>
	</header>
	<p class="description">{description}</p>
	<a class="read" href={`/blog/${slug}/`}>Читать далее</a>
</article>

<style>
	.content :global(main > * + *) {
		margin-top: 1rem;
	}

	.post-preview {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	header {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 1rem;
		text-align: left;
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
	}

	.publish-date,
	.author {
		font-size: 1.25rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 1.75rem;
		font-weight: 700;
		color: var(--theme-text);
	}

  .description {
    margin-bottom: 0.5em;
  }
</style>
